/*
Based off of the Ayu theme
Original by Dempfi (https://github.com/dempfi/ayu)
*/

.hljs {
  display: block;
  overflow-x: auto;
  background: #0d0b13;
  color: #e6e1cf;
}

.hljs-comment,
.hljs-quote {
  color: #5c6773;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-attr,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #b05276;
}

.hljs-number,
.hljs-meta,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #5687b4;
}

.hljs-string,
.hljs-bullet {
  color: #e3d98f;
}

.hljs-title,
.hljs-built_in,
.hljs-section {
  color: #af9360;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-symbol {
  color: #876757;
}

.hljs-name {
    color: #36a3d9;
}

.hljs-tag {
    color: #3b008d;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-addition {
  color: #91b362;
}

.hljs-deletion {
  color: #d96c75;
}
