:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background-color: hsl(0, 0%, 13%);
	color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#app {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 0 1rem 0;
	text-align: center;
}

#app > div > div > * {
	width: 510px;
}

img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 35rem) {
	#app {
		margin: 0vmin;
	}
	#app > div > div > .chakra-card__root:first-child {
		border-top-width: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	#app > div > div > * {
		width: 100vmin;
		/* margin: 1vmin auto 1vmin auto; */
		border-radius: 0;
		border-right-width: 0;
		border-left-width: 0;
		
	}
	section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}


@keyframes gift-needs-your-attention {
  0% { transform: translate(0, 0) rotate(0deg); }
  84% { transform: translate(0, 0) rotate(0deg); }
  
  85% { transform: translate(5px, 5px) rotate(5deg); }
  86% { transform: translate(0, 0) rotate(0deg); }
  87% { transform: translate(-5px, 5px) rotate(-5deg); }
  88% { transform: translate(0, 0) rotate(0deg); }

  89% { transform: translate(5px, 5px) rotate(5deg); }
  90% { transform: translate(0, 0) rotate(0deg); }
  91% { transform: translate(-5px, 5px) rotate(-5deg); }
  92% { transform: translate(0, 0) rotate(0deg); }

  93% { transform: translate(5px, 5px) rotate(5deg); }
  94% { transform: translate(0, 0) rotate(0deg); }
  95% { transform: translate(-5px, 5px) rotate(-5deg); }
  96% { transform: translate(0, 0) rotate(0deg); }

  97% { transform: translate(5px, 5px) rotate(5deg); }
  98% { transform: translate(0, 0) rotate(0deg); }
  99% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.needy-gift {
	animation: gift-needs-your-attention 4s linear 1s infinite;
	cursor: pointer;
}

.calm-gift {
	opacity: .5;
	cursor: pointer;
}