[package]
name = "elytra-bytepack"
edition = "2024"
license.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true
version.workspace = true
description = "macros/helpers for building const sized byte arrays"

[dependencies]
